@charset "utf-8";
.second-main{width: 74.2%; height: 300px; font-family: "microsoft yahei";}
.second-right{width: 25.3%;}
.second-right img{display: block; width: 100%;}
.second-right img+img{margin-top: 10px;}
.main-nav{color: #484a7e; font-size: 0.75rem; height: 3rem; line-height: 3rem; border: 1px solid #000;}
.pd20{padding: 0 20px;}
.main-title{border: 1px solid #000; padding-bottom: 0.6rem;}
.main-title>p{color: #484a7e; font-size: 1.1rem; height: 2.5rem; line-height: 3rem; }
.main-article-info{ }
.main-article-info li{float: left; color: #717071; font-size: 0.6rem; height: 1rem; line-height: 1rem;}
.main-article-info li+li{margin-left: 0.2rem;}
.article-down{background: url("../img/article-info.png") no-repeat center left;
    background-size: auto 650%; background-position: 0 0; text-indent: 23px;
}
.article-share{background: url("../img/article-info.png") no-repeat center left;  background-size: auto 650%; background-position: 0 25%; text-indent: 23px;
}
.article-share-way{float: left; width: 1.1rem; height: 1.1rem; background: url("../img/article-info.png") no-repeat center left;
    background-size: auto 650%; background-position: 0 50%;}
.article-share-way:nth-of-type(2){background-position: 0 74%; margin-left: 0.1rem;}
.article-share-way:nth-of-type(3){background-position: 0 98%; margin-left: 0.1rem;}
.article-content{padding-top: 20px; padding-bottom: 25px; border: 1px solid #000;}
.article-p{color: #252422; font-size: 0.75rem; line-height: 1.2rem;text-align: justify; }
.article-p:not(:first-child){text-indent: 1.5rem;}
.article-small-title{font-size: 0.985rem; color: #24286a; margin-top: 1.2rem; margin-bottom: 0.5rem;}
.article-pic{margin: 0.8rem 0;}




.red{color: #cd3b4a;}




























